[submodule "themes/hermit"]
	path = themes/hermit
	url = https://github.com/windyboy/hermit.git
[submodule "themes/archie"]
	path = themes/archie
	url = https://github.com/athul/archie.git
[submodule "public"]
	path = public
	url = git@github.com:windyboy/windyboy.github.io.git
