[submodule "themes/hermit"]
	path = themes/hermit
	url = https://github.com/windyboy/hermit.git
[submodule "public"]
	path = public
	url = git@github.com:windyboy/windyboy.github.io.git
	branch = master
[submodule "themes/hugo-theme-tokiwa"]
	path = themes/hugo-theme-tokiwa
	url = https://github.com/windyboy/hugo-theme-tokiwa.git
[submodule "themes/archie"]
	path = themes/archie
	url = https://github.com/windyboy/archie.git
